* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

button, input, textarea {
    border: none;
    outline: none;
    background: transparent;
}


